__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/

build/
dist/*
!dist/
!dist/SistemaAprendizes-v1.3.0-windows.zip
*.manifest

.pytest_cache/
.coverage
htmlcov/

.mypy_cache/
.ruff_cache/

.env
.env.*

.vscode/
.idea/

*.log
*.zip
!dist/SistemaAprendizes-v1.3.0-windows.zip
*.tmp
*.bak

Thumbs.db
Desktop.ini

captura_*.png
visualizacao_banco*.png
visualizar_banco.py
Abrir Banco.bat
sistema_aprendizes_v1_codigo/
* - Copia*
data/*.db
!data/aprendizes_inicial.db
data/*.db-journal
data/*.db-wal
data/*.db-shm
